assets/
protected/runtime/
protected/config/
themes/classic/views/
.idea/
players.php
players_m.php
exclude_players.php
persons.php
teams.php
teams_m.php
matches.php
matches_m.php
news.php
champs.php
champs_m.php
stages.php
stages_m.php
seasons.php
seasons_m.php
tags.php
countries.php
*.sql
*.txt
